@import '~bootstrap/scss/bootstrap';
html, body {
    background: #f5f5f5;
}

img{
  width: 100%;
  height: auto;
    
}

.navbar{
  width: 100%;
  top:0;
  position: fixed; 
  z-index: 10;
  box-shadow:0 0 8px #444;
}

#current-user{
  text-align: right;	
  float: right;
  margin: 0 0 0 auto;
  padding: 10px;
}

.content{
  margin-top: 100px; 
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.posts{
  margin-top: 100px; 
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center!important;
  width: 100vw;
  height: 100vh;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  //background-image: url("../images/wallpaper2.jpg");
  background-size:  cover;
  background-repeat:  no-repeat;      
  color: white;
}

@media screen and (min-width:30em) and ( max-width:37.5em) {
    /* 480px~600px（スマホ横） */
  .text-center{
    background-image: url("../images/sumaho.jpg");
  }
}

@media screen and (min-width:37.5em) and ( max-width:48em) {
    /*　600px~768px（タブレット）　*/
  .text-center{
    background-image: url("../images/sumaho.jpg");
  }

}

@media screen and (min-width:48em) and ( max-width:60em) {
    /*　768px~960px（タブレット）　*/
  .text-center{
    background-image: url("../images/pc3.jpg");
  }
}

@media screen and (min-width:60em) and ( max-width:80em) {
    /*　960px~1280px（小型PC）　*/
  .text-center{
    background-image: url("../images/pc3.jpg");
  }
}

@media screen and (min-width:80em) {
    /*　1280px~（大型PC） */
  .text-center{
    background-image: url("../images/pc3.jpg");
  }
}

.circle-avatar img {
  width: 70px;
  height: 70px; 
  border-radius: 50%;
  object-fit: cover;
}

/*
form{
text-align: center !important;
}
*/

.profile{
  padding: 0.75rem 1.25rem;
  float: left;
  text-align: center;
  width: 250px;
  img{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    object-fit: cover;
  } 
 }

 .profile_top{
   border-bottom: 1px solid rgba(0, 0, 0, 0.225);
 }
 .profile_intro{
  padding: 20px 0px 20px 0px; 
 }

 .user_page{
 padding-top: 100px;
 padding-left: 50px;
 }

ul {
  list-style-type: none;
}

.box{
  position: relative;
}

.lower_right{
  position: absolute;
  right: 0;
  bottom: 0;
  position: fixed;
}

.card{
  position:relative;
  z-index: 1;
}

.card .link{
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2;
}

.card .inlink{
 position: relative; 
    z-index: 3;
}


.show-post-profile{
  padding-top: 150px;
}

.show-post-content{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.comment-itiran,.comment-toukou{
 text-align: center;
 margin-top: 150px;
}

.comment-toukou-form{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.225);
}
.comment-counts img{
  width: 20px; 
  height: 20px;
  object-fit: contain;
 }
