@import '~bootstrap/scss/bootstrap';
html, body {
    background: #f5f5f5;;
}

img{
    width: 250px;
    height: auto;
}

.navbar{
 width: 100%;
 position: fixed; 
 z-index: 10;
}

#current-user{
text-align: right;	
float: right;
 margin: 0 0 0 auto;
 padding: 10px;
}

