<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><%= post.user.username %></div>
  <div class="card-body">
    <h4 class="card-title"><%= post.title %></h4>
    <p class="card-text"><%= post.content %></p>
  </div>
  <div class="card-footer">	
    <%= time_ago_in_words(post.created_at) %>前に作成
  </div>
</div>
