<h1>新規投稿</h1>
<%= form_for(@post) do |f| %>
  <%= f.text_area :title, placeholder: "ここにタイトルを入力してください" %>
  <%= f.text_area :content, placeholder: "ここにテキストを入力してください" %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
